<div class="panel col-md-12">
    <h1>Menu: Movimientos</h1>
    <div class="col-md-12">
        <h2>Asignar movimiento a especie Pokemon:</h2>
        Movimiento:
        <select ng-model="movementLearn">
            <option ng-repeat="movement in movements" value="{{ movement._links.self.href }}">{{ movement.name }}</option>
        </select>
        <br />
        Pokemon:
        <select ng-model="pokemonLearn">
            <option ng-repeat="pokemon in pokemons" value="{{ pokemon._links.pokemonMovements.href }}">{{ pokemon.name }}</option>
        </select>
        <input type="button" ng-click="assign()" value="Asignar">
    </div>
    <div class="col-md-12">
        <h2>Agregar Movimiento</h2>
        <div class="row col-md-8">
            <h3>Nombre:</h3>
            <input type="text" ng-model="newMovement.name">
        </div>
        <div class="row col-md-8">
            <h3>Descripción:</h3>
            <textarea ng-model="newMovement.description"></textarea>
        </div>
        <div class="row col-md-8">
            <h3>Tipo:</h3>
            <div ng-repeat="type in types" style="float:left; margin:10px;">
                <input type="radio" ng-model="newMovement.primaryType" value="{{ type.typeId }}">{{ type.typeName | capitalize }}
            </div>
        </div>
        <input ng-click="send()" type="button" value="Agregar">
    </div>
    <div class="col-md-12">
        <h2>Movimientos</h2>
        <div class="row col-md-8">
            <ul>
                <li ng-repeat="movement in movements"><a ng-click="loadPokemonByMovement(movement._links.self.href)" title="{{movement.description}}">{{ movement.name | capitalize }}</a></li>
            </ul>
        </div>
        <h3>Pokemon que lo pueden utilizar</h3>
        <div class="row col-md-8">
            <ul>
                <li ng-repeat="pokemon in pokemonByMovement">{{ pokemon.name | capitalize }}</li>
            </ul>
        </div>
    </div>

</div>